<div style="width: 350px; margin: 0 auto">
  <a href="<%=locals.clientUrl%>" style="display: block; text-align: center">
    <img
      style="width: 350px"
      src="https://s3.ap-northeast-2.amazonaws.com/dodoesdid.s3/assets/email-logo.png"
      alt="두더지로고"
    />
  </a>
  <div
    style="
      border: 1px solid #ddd;
      background-color: #f3f3f3;
      padding: 16px;
      border-radius: 8px;
      color: #6b6a6a;
      line-height: 1.4;
      margin-bottom: 20px;
      width: 316px;
    "
  >
    <b>안녕하세요!</b> 비밀번호 재설정을 하시려면 하단의 링크를 클릭하세요.
    만약에 실수로 요청하셨거나, 본인이 요청하지 않았다면, 이 메일을 무시하세요.
  </div>
  <a
    href="<%=locals.clientUrl%>/login-email/search/pw?accessToken=<%=locals.accessToken%>"
    style="
      background-color: #3f73f7;
      color: #fff;
      text-decoration: none;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
      padding-top: 1rem;
      font-size: 16px;
      padding-bottom: 1rem;
      font-weight: 600;
      border-radius: 8px;
      width: 350px;
    "
  >
    비밀번호 재설정
  </a>
  <p style="font-size: 14px; color: #aaa; margin: 0; text-align: center">
    위 버튼을 클릭하시거나 다음 링크를 열어주세요
  </p>
  <a
    href="<%=locals.clientUrl%>/login-email/search/pw?accessToken=<%=locals.accessToken%>"
    style="
      display: block;
      color: #3f73f7;
      width: 350px;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 20px;
      width: 350px;
    "
    ><%=locals.clientUrl%>/login-email/search/pw?accessToken=<%=locals.accessToken%></a
  >
  <p style="color: #aaa; font-size: 14px; text-align: center">
    이 링크는 24시간동안 유효합니다.
  </p>
</div>
